.password-page-image {
    width: 50%;
    border-radius: 5%;
    margin-top: 5%;
    height: 100%;
}

.image-and-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-part {
    padding-left: 5%;
    padding-right: 5%;
}