<section>
    <div class="container">
        <h1 class="who-are-we-title">{{'who_are_we_title' | translate}}</h1>
        <div class="image-container">
            <img class="who-are-we-image" src="assets/img/goodfellas-team.png">
        </div>
        <ul>
            <li class="yusuf-seha-ozturk">
                <img class="assosciate-image" src="assets/img/assosciates/yusuf-seha-ozturk.jpg">
                <p>{{'yusuf_seha_ozturk' | translate}}</p>
            </li>
            <li class="eray-demir">
                <img class="assosciate-image" src="assets/img/assosciates/eray-demir.jpg">
                <p>{{'eray_demir' | translate}}</p>
            </li>
            <li class="hasan-bora-ulker">
                <img class="assosciate-image" src="assets/img/assosciates/hasan-bora-ulker.jpg">
                <p>{{'hasan_bora_ulker' | translate}}</p>
            </li>
            <li class="batu-gulen">
                <img class="assosciate-image" src="assets/img/assosciates/batu-gulen.jpg">
                <p>{{'batu_gulen' | translate}}</p>
            </li>
        </ul>
    </div>
</section>